html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #0480da;
  border: none;
  font-weight: bold;
}

header {
  text-align: center;
  left: 50%;
  right: 50%;
}

header p {
  padding-bottom: 20px;
}

@-webkit-keyframes animationContainer {
  0% {
    top: -700px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes animationContainer {
  0% {
    top: -700px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.absolutePostion {
  position: relative;
  z-index: 10;
}

.absolute {
  background: #000;
}

.animationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: animationContainer 3s linear;
          animation: animationContainer 3s linear;
  -webkit-animation-play-state: running, paused;
          animation-play-state: running, paused;
}

.absolute {
  border: 2px solid #0480da;
  width: 100%;
}

/* ANIMATIONS */
@-webkit-keyframes tractor {
  0% {
    top: 0;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    top: 1000px;
  }
  100% {
    top: 1200px;
    opacity: 0;
  }
}
@keyframes tractor {
  0% {
    top: 0;
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    top: 1000px;
  }
  100% {
    top: 1200px;
    opacity: 0;
  }
}

.tow {
  width: 10px;
  height: 50px;
  background-color: #0480da;
}

.tractor {
  top: 20px;
  width: 10%;
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 15px;
}

.profile {
  padding-top: 30px;
  position: relative;
}

@-webkit-keyframes profileAnimation {
  0% {
    top: -700px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes profileAnimation {
  0% {
    top: -700px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes profileAnimation2 {
  0% {
    top: 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -700px;
    opacity: 0;
  }
}

@keyframes profileAnimation2 {
  0% {
    top: 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -700px;
    opacity: 0;
  }
}

.profileAnimation2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-animation: profileAnimation2 1s linear;
          animation: profileAnimation2 1s linear;
  -webkit-animation-play-state: running, paused;
          animation-play-state: running, paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-top: 25px;
}

.profileAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-animation: profileAnimation 1s linear;
          animation: profileAnimation 1s linear;
  margin-top: 25px;
}

.profileText {
  border: 2px solid #0480da;
  padding: 15px 10px;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 45, 45, 0.52)), to(rgba(74, 141, 230, 0.3))), url(".././images/tractor-1000.jpg");
  background-image: linear-gradient(to bottom, rgba(46, 45, 45, 0.52), rgba(74, 141, 230, 0.3)), url(".././images/tractor-1000.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.textC {
  font-weight: bold;
  padding: 20px 25px 10px 25px;
  line-height: 150%;
  margin-left: auto;
  width: 50%;
}

mark {
  background-color: black;
  color: white;
}

.towProfile {
  width: 10px;
  height: 50px;
  background-color: #0480da;
}

.tractorProfile {
  width: 10%;
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

h2 {
  text-align: center;
  margin: 40px 0;
}

.projectFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: solid #0480da 3px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
}

.projectFlexColumn {
  -webkit-box-shadow: rgba(4, 128, 218, 0.6) 0px 10px 90px;
          box-shadow: rgba(4, 128, 218, 0.6) 0px 10px 90px;
  padding: 10px;
  margin-bottom: 40px;
  width: 48%;
}

.projectFlexColumn img {
  display: block;
}

.projectFlexColumn p {
  text-align: left;
  color: #0480da;
  padding: 20px 5px;
}

.projectFlexColumn a {
  color: #0480da;
}

.icon {
  color: #0480da;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 10px;
}

.live {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #02131f;
  padding: 0;
  margin: 0;
}

.live p {
  color: #0480da;
}

.live a {
  padding: 0 20px;
  margin: 0;
}

@-webkit-keyframes portfolioAnimation {
  0% {
    top: -2000px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes portfolioAnimation {
  0% {
    top: -2000px;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes portfolioAnimation2 {
  0% {
    top: 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -2000px;
    opacity: 0;
  }
}

@keyframes portfolioAnimation2 {
  0% {
    top: 0;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: -2000px;
    opacity: 0;
  }
}

.portfolioAnimation2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-animation: portfolioAnimation2 2s linear;
          animation: portfolioAnimation2 2s linear;
  -webkit-animation-play-state: running, paused;
          animation-play-state: running, paused;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  margin-top: 25px;
}

.portfolioAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-animation: portfolioAnimation 2s linear;
          animation: portfolioAnimation 2s linear;
  margin-top: 25px;
}

.contactAnimation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -webkit-animation: portfolioAnimation 2s linear;
          animation: portfolioAnimation 2s linear;
  width: 100%;
  margin-top: 25px;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #0480da 3px;
  padding: 20px;
  width: 100%;
}

.contactText {
  width: 30%;
  color: #0480da;
  text-align: center;
}

.contactText h3 {
  margin-bottom: 40px;
}

.contactIcon {
  color: #0480da;
  text-align: center;
}

.contactIcon i {
  margin: 30px 20px;
  padding-top: 40px;
  font-size: 2rem;
}

.captcha {
  margin-bottom: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

label {
  visibility: hidden;
}

input {
  padding: 10px 5px;
}

textarea {
  margin-bottom: 20px;
  resize: none;
}

input[type="submit"] {
  width: 50%;
}

footer {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  background-color: #0480da;
  margin-top: auto;
}

footer p {
  color: #02131f;
  padding: 20px 0;
}

/* global styles */
body {
  background-color: #02131f;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1,
h2,
p,
li,
a {
  color: #0480da;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (max-width: 760px) {
  .projectFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectFlexColumn {
    width: 100%;
  }
}
